@import "./base.css";

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

body {
  width: 100%;
  font-size: 1.375rem;
  color: rgba(0, 20, 50, 0.85);
}

h1,
h2,
h3 {
  color: rgba(0, 20, 50, 0.4);
  font-weight: bold;
  font-size: 4.75rem;
  margin: 0.25em 0;
}

h3 {
  font-size: 3.75rem;
}

p {
  text-rendering: optimizeLegibility;
  margin: 1em 0;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 3.25rem;
  }
  h2 {
    font-size: 2.75rem;
  }

  h3 {
    font-size: 2.5rem;
  }
}

.section {
  padding: 0 128px;
  max-width: 1440px;
  margin: 64px auto;
}

@media screen and (max-width: 960px) {
  .section {
    padding: 0 64px;
  }
}

@media screen and (max-width: 600px) {
  .section {
    padding: 0 32px;
  }
}
